@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #121212;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
}
header nav {
  margin-top:-25px
}
header nav .nav__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav__links li {
  padding: 0px 20px;
}

header nav .nav__links li a {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

header nav .nav__links li a:hover {
  color: #22BFA0;
}

.logo {
  padding: 12px 20px;
  margin-right: auto;
}

aside {
  margin-top: 40px;
  width: 19%;
  min-width: 150px;
  max-width: 300px;
  height: 100%;
  background-color: transparent;
  position: fixed;
  top: 70px;
  float: left;
  padding: 25px 0 0 0;
}

aside a {
  display: block;
  line-height: 40px;
  border-right: 4px solid transparent;
  cursor: pointer;
  -webkit-transition: background-color .3s linear,
 border-right-color .3s linear,
 color .3s linear;
  transition: background-color .3s linear,
 border-right-color .3s linear,
 color .3s linear;
  color: white;
  padding: 0 0 0 30px;
  font-weight: 650;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.9px;
}

aside a:hover {
  background-color: #292a2f;
  border-right-color: #22BFA0;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10vw;
}

.row .stats {
  padding: 16vw 8vw;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.row .stats .counting {
  padding: 12px 0px;
}

.row .stats .fa {
  color: #22BFA0;
  font-size: 60px;
}

.terminal-window {
  z-index: 3;
  width: 62vw;
  height: 37vw;
  border-radius: 4px;
  margin-left: 19%;
  position: fixed;
  top: 7vw;
  left: 3.5vw;
  overflow-x: auto;
}


.terminal-window .terminal_header {
  background: #282D35;
  height: 2.5vw;
  border-radius: 4px;
  padding-left: .625rem;
}

.terminal-window .terminal_header .button {
  width: 11px;
  height: 11px;
  top: 11px;
  left: 11px;
  margin: .625rem .5rem 0 0;
  display: inline-block;
  border-radius: .5rem;
}

.terminal-window .terminal_header .button.green {
  background: #3BB662;
}

.terminal-window .terminal_header .button.yellow {
  background: #E5C30F;
}

.terminal-window .terminal_header .button.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 13.2px;
  background: #282D35;
  padding: .625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 1.8rem;
  bottom: 0;
  overflow-y: auto;
  overflow-x: auto;
  display: inline-block;
}

.terminal-window section.terminal .block .traceroute_input {
  border: none;
  position: absolute;
  background-color: transparent;
  border-bottom: 2px dotted;
  border-color: rgba(105, 192, 78, 0.849);
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 13.2px;
  color: white;
  left: 19vw;
  outline: none;
}


.terminal-window section.terminal .btn {
  border: none;
  position: absolute;
  background-color: transparent;
  border: 2px dotted;
  border-color: rgba(105, 192, 78, 0.849);
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 13.2px;
  padding: 2px 3.235vw;
  margin-top: 5px;
  color: white;
  left: 19vw;
}

.terminal-window section.terminal .btn:hover {
  background-color: #292a2f70;
  color: white;
}

.terminal-window section.terminal::-webkit-scrollbar {
  width: 0.25rem;
}

.terminal-window section.terminal::-webkit-scrollbar-track {
  background: #282D35;
}

.terminal-window section.terminal::-webkit-scrollbar-thumb {
  background: #85B5BB;
}
.terminal-window section.terminal::-webkit-scrollbar:horizontal {
  width: 0.25rem;
}

.terminal-window section.terminal::-webkit-scrollbar-track:horizontal {
  background: #282D35;
}

.terminal-window section.terminal::-webkit-scrollbar-thumb:horizontal {
  background: #85B5BB;
}
[data-ty-prompt]:before {
  margin-right: 0.70em;
  color: #D76D77;
}

[data-ty-prompt1]:before {
  margin-right: 0.70em;
  font-size: 14px;
  color: #68C04D;
}

[data-ty-prompt]:before {
  content: attr(data-ty-prompt);
}

[data-ty-prompt1]:before {
  content: attr(data-ty-prompt1);
}

label {
  display: inline-block;
  text-align: right;
}

.imageguide{
  /* padding: 0vw 1vw; */
  max-width: 60.5vw;
}
.loaderback{
  position :absolute;
  width:100%;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  z-index: 99;
  display: none;

}
.loadingtext{
  position: relative; 
  top: 50%;
  text-align: center;
  font-weight: 700;
  font-size:15px;
  text-transform: uppercase;
  text-decoration: none;
  color:#22BFA0;
  letter-spacing: 1px;


}
.loader{
position: absolute;
  margin: -18px 0 0 -18px;
  border: 3.6px solid #22BFA0;
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 45%;
  animation: loader-spin 2s linear infinite reverse;
  filter: url(#goo);
  box-shadow: 0 0 0 1px #22BFA0 inset;
}
.loader:before {
  content: "";
  position: absolute;
  animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: #22BFA0;
  transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}


@keyframes loader-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}




.popupback{
  position :absolute;
  width:100%;
  height: 100vh;
  background-color: black;
  opacity: 0.95;
  z-index: 99;
  display: none;

}
.popwindow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid white;
  border-radius: 5px;
  background-color: black;

  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.popuptext {
  position: relative; 
  top: 50%;
  text-align: center;
  font-weight: 700;
  font-size:15px;
  text-transform: uppercase;
  text-decoration: none;
  color:white;
  letter-spacing: 1px;
}
.btn {
  color:white;
    font-family:inherit;
  font-size: inherit;
  background: black;
  padding: 0.3rem 3.4rem;
  border: 3px solid white;
  margin-right: 2.6rem;
  box-shadow: 0 0 0 white;
  transition: all 0.2s;
  text-decoration: none;
}

.btn:last-child {
  margin: 0;
}


.btn:active {
  box-shadow: 0 0 0 white;
  transform: translate(0, 0);
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/*# sourceMappingURL=main.css.map */
