{# templates/index.html #}
<html>

<head>
    <title>Entry logging</title>

    {# Import JQuery #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10/jquery.min.js"></script>
    <script type="text/javascript" src="previewForm / previewForm.js"></script>
    <link rel="stylesheet" type="text/css" href="previewForm/previewForm.css" />
    <script>
        /**
         * Adjust the indices of form fields when removing items.
         */


        $(document).ready(function () {
            $('#myform').previewForm({ show_password: false });
        });

        function adjustIndices(removedIndex) {
            var $forms = $('.subform');

            $forms.each(function (i) {
                var $form = $(this);
                var index = parseInt($form.data('index'));
                var newIndex = index - 1;

                if (index < removedIndex) {
                    // Skip
                    return true;
                }

                // Change ID in form itself
                $form.attr('id', $form.attr('id').replace(index, newIndex));
                $form.data('index', newIndex);

                // Change IDs in form inputs
                $form.find('input').each(function (j) {
                    var $item = $(this);
                    $item.attr('id', $item.attr('id').replace(index, newIndex));
                    $item.attr('name', $item.attr('name').replace(index, newIndex));
                });
            });
        }

        /**
         * Remove a form.
         */
        function removeForm() {
            var $removedForm = $(this).closest('.subform');
            var removedIndex = parseInt($removedForm.data('index'));

            $removedForm.remove();

            // Update indices
            adjustIndices(removedIndex);
        }

        /**
         * Add a new form.
         */
        function addForm() {
            var $templateForm = $('#feedback01-_-form');

            if (!$templateForm) {
                console.log('[ERROR] Cannot find template');
                return;
            }

            // Get Last index
            var $lastForm = $('.subform').last();

            var newIndex = 0;

            if ($lastForm.length > 0) {
                newIndex = parseInt($lastForm.data('index')) + 1;
            }

            // Maximum of 50 subforms
            if (newIndex > 50) {
                console.log('[WARNING] Reached maximum number of elements');
                return;
            }

            // Add elements
            var $newForm = $templateForm.clone();

            $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
            $newForm.data('index', newIndex);

            $newForm.find('input').each(function (idx) {
                var $item = $(this);

                $item.attr('id', $item.attr('id').replace('_', newIndex));
                $item.attr('name', $item.attr('name').replace('_', newIndex));
            });

            // Append
            $('#subforms-container').append($newForm);
            $newForm.addClass('subform');
            $newForm.removeClass('is-hidden');

            $newForm.find('.remove').click(removeForm);
        }


        $(document).ready(function () {
            $('#add').click(addForm);
            $('.remove').click(removeForm);
        });
    </script>

    <style>
        .is-hidden {
            display: none;
        }
    </style>
</head>

<body style="background-color:#5CDB95">

    <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-top: 50px;">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <img src="/static/airtel-logo-white-text-horizontal.jpg" alt="logo" style="width:100px;">
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>

    </nav>
    
    <div class="container" style="background-color:white ; margin-top: 50px;width:fit-content; border-radius: 50px" > 

                <h4 style=" text-align: center;margin-top:15px;"> Display Project</h4>

                <div class="container"  style="background-color:whitesmoke ;margin-top:30px; border-radius:5%;margin-right: 0cm;">
                    {# Show all subforms #}
                    <form id="feedback01-form" action="" method="POST" role="form">
                        {{ form.hidden_tag() }}


                        <div class="form-group">
                            <label class="control-label col-sm-5" for="name" style="padding-top:15px" >Project Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="name" placeholder="Enter Project Name" name="name"
                                    required>
                            </div>

                        </div>


                        <div class="form-check-inline">

                            <label class="control-label col-sm-2" for="Devloper" style="padding-top:15px">Devloper
                                Name:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="Devloper"
                                    placeholder="Enter Devloper name" name="Devloper" required>
                            </div>

                            <label class="control-label col-sm-2" for="olmid" style="padding-top:15px;padding-left: 30px;">Lead</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="Lead" placeholder="Enter Lead name"
                                    name="Lead" required>
                            </div>


                        </div>

                        <br>
                        <br>


                        <div class="form-check-inline">
                            <label class="control-label col-sm-2" for="Assigned_By" style="padding-top:15px">Assigned_By</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="Assigned_By" placeholder="Enter Assigned_By"
                                    name="Assigned_By" required>
                            </div>

                            <label class="control-label col-sm-2" for="Assigned_Date"
                                style="padding-top:15px">Assigned_Date:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="Assigned_Date" placeholder="Enter Assigned_Date"
                                    name="Assigned_Date" required>
                            </div>
                        </div>

                        <br>
                        <br>


      



                        <div class="form-group">
                            <div id="subforms-container">

                                {% for subform in form.step01 %}
                                <div id="feedback01-{{ loop.index0 }}-form" class="subform"
                                    data-index="{{ loop.index0 }}">
                                    <label class="control-label col-sm-5" for="remarks"
                                        style="padding-top:15px">{{ subform.Phase.label }} and
                                        {{ subform.AssignedDev.label }}</label>
                                    <div class="col-sm-6">

                                        {{ subform.Phase }}
                                        {{ subform.AssignedDev}}


                                        <a id="add" href="#" style="border: 2px solid red;">Add Phase</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check-inline">
                                <label class="control-label col-sm-3" for="Description"
                                    style="padding-top:15px">Description:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Description" placeholder="Enter Description"
                                        name="Description" required>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-default float"
                                style="border: 2px solid red;">Submit</button>
                        </div>

                        </script>

                        <H3 style="margin-top: 10px; text-align: left;padding-left: 100px; text-align: center;">
                            {{ MSG }}</H3>

                    </form>

                    {% if form.errors %}
                    {{ form.errors }}
                    {% endif %}

                    {# Form template #}

                    <div id="feedback01-_-form" class="is-hidden" data-index="_">
                        <div class="form-check-inline">

                            <label for="step01-_-Phase" class="control-label col-sm-1" for="remarks"
                                style="padding-top:15px">New Phase</label>
                            <div class="col-sm-3">
                                <input id="step01-_-Phase" class="form-control" placeholder="Enter New phase"
                                    name="step01-_-Phase" type="text" value="">
                            </div>

                            <label for="step01-_-AssignedDev" class="control-label col-sm-1" for="remarks"
                                style="padding-top:15px">Assigned Devloper</label>
                            <div class="col-sm-6">
                                <input id="step01-_-AssignedDev" name="step01-_-AssignedDev" class="form-control"
                                    placeholder="Assigned Devloper" type="text">
                            </div>
                            <a class="remove" href="#">Remove</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

</body>

</html>