<!DOCTYPE html>
<html lang="en">
<head>
  <title>Airtel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>  
<body style="background-color:lightgrey;">  

<nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-top: 50px;">
  <a class="navbar-brand" href="#">
    <img src="/static/airtel-logo-white-text-horizontal.jpg" alt="logo" style="width:100px;">
  </a>
      
  <!-- Links -->

</nav>
  <h3 style="margin-top: 100px;  text-align: center"> {{msg}}</h3>
</body>  
</html>