<!DOCTYPE html>
<html lang="en">

<head>
  <title>View</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>

<body style="background-color:darkslateblue; ; text-align: center">

  <nav class="navbar navbar-expand-sm " style="height:50px;background-color:#EE1C25;">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/static/airtel-logo-white-text-horizontal.jpg" alt="logo" style="width:100px;">
    </a>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/" style="color: white;">Home</a>
      </li>
    </ul>
    
      <button onclick="TestsFunction()" class="btn btn-default float"  style= "color: white;">Phase of project</button>
  </nav>

  </div>

  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">

        <h1 style="margin-top: 35px; text-align: left;padding-left: 50px; color: white;"> Projects</h1>
        <table id="tbl" class="table stripped table-hover" style="margin-top: 25px;width:300px;">
          <thead>
            {% for i in rows %}
            <tr>
              <th class="shadow-sm p-4 mb-4 " style="background-color: #EE1C25;"> {{ i[1] }} </th>
            </tr>
            {% endfor %}

          </thead>
        </table>

        <script>
          const tbl = document.getElementById('tbl');

          tbl.addEventListener('click', event => {
            const el = event.target;
            var a = el.innerText
            document.getElementById("tab").value = a

            document.getElementById('myform').submit();
            $scope.trunOn = true;
          });
          
          
        </script>

        <div class="container">
          <form id="myform" class="form-horizontal" action="/viewTable" method="post">

            <input type="hidden" class="form-control" id="tab" name="tab">

          </form>
        </div>
      </div>
      <div class="col-sm-9">
        {% for a in rows0 %}
        <div style="margin-top: 10px;  text-align: center; padding-left:85px; padding-right:85px;">
          <h5 class="shadow-sm p-4 mb-4 bg-white"><b>Project</b> :{{ a[1] }}      ||  <i><b> Status :</b></i> {{ a[8] }}</h5>
        </div>

        <div class="row" style="margin-top: 40px;">
          <div class="col" style="text-align:left; padding-left:100px">
            <h6 class="shadow-sm p-4 mb-4 bg-white"><b>Lead : </b>{{ a[2] }}</h6>
          </div>
          <div class="col" style="text-align:left;padding-right:100px">
            <h6 class="shadow-sm p-4 mb-4 bg-white"><b>Devloper : </b>{{ a[5] }}</h6>
          </div>
        </div>
        <div class="row " style="margin-top: 10px;">
          <div class="col" style="text-align:left; padding-left:100px">
            <h6 class="shadow-sm p-4 mb-4 bg-white"><b>Assigned By : </b>{{ a[3] }}</h6>
          </div>
          <div class="col" style="text-align:left; padding-right:100px">
            <h6 class="shadow-sm p-4 mb-4 bg-white"><b>Assigned Date : </b>{{ a[4]}}</h6>
          </div>
        </div>
        
        <div style="padding-left:85px; padding-right:85px;">
          <h6 style="margin-top: 10px;" class="shadow-sm p-4 mb-4 bg-white""><b>Project Description</b>: <i>{{ a[6] }}</i></h6>
      </div>
      {% endfor %}

      
      <script>
function TestsFunction() {
    var T = document.getElementById("myDIV");
    T.style.display = "block";
}
        </script>
        <div id="myDIV" style="display:none">
        <div class=" row" style="margin-top: 10px;">
            <div class="col" style="text-align:left; padding-left:100px">{% for k in phase %}
              <h6 class="shadow-sm p-4 mb-4 bg-white"><b>phase : </b>{{k}}</h6>
              {% endfor %}
            </div>
            <div class="col" style="text-align:left; padding-right:100px">{% for k2 in AssignedDevloper %}
              <h6 class="shadow-sm p-4 mb-4 bg-white"><b>Assigned Devloper : </b>{{k2}}</h6>
              {% endfor %}
            </div>
        </div>
      </div>
        <!-- <h5 style="margin-top: 10px;">{% for k in phase %}{{k}}{% endfor %}</h5> -->
        <!-- <h5 style="margin-top: 10px;">{% for k2 in AssignedDevloper %}{{k2}}{% endfor %}</h5> -->
      </div>
    </div>
</body>

</html>